body, html {
    background-color: grey;
    margin: 0;
    padding: 0;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background: url(./img//fondo-aroa.jpg) repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}


header {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 6em;
    border-radius: 100%;
    border: 2px solid white;
    margin-top: 2em;
}

header >  h1 {
    display: inline-block;
    font-size: 0.8em;
    border-radius: 1em;
    background-color: #000a;
    padding: 0.3em 0.6em;
    border: 1px solid #fff; 
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    
}

ul {
    box-sizing: border-box;
    list-style: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 480px ;
}

ul > li {
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.7em 0;
    box-shadow: white 0px 2px 8px 0px;
}

ul > li > a {
   display: flex; 
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 0.7em;
   font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}